@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron other-div home-div-2" >
    <div class="home-child" >
        <h1>Le damos la bienvenida</h1>
    </div>
    
</div>
<div class="home-div-2">
    <div class="row">
        <div class="col-md home-div blue" onclick="location.href='/Country/Index'">
            <div class="home-child">
                <h1><i class="fa fa-globe"></i></h1>
                Administrar mundo
            </div>
        </div>
        <div class="col-md home-div blue-2" onclick="location.href='/Country/TestData'">
            <div class="home-child">
                <h1><i class="fa fa-child"></i></h1>
                Generar personas
            </div>
        </div>
        <div class="col-md home-div blue" onclick="location.href='/Queries/CountryInfo'">
            <div class="home-child">
                <h1><i class="fa fa-map"></i></h1>
                Información países
            </div>
        </div>
        <div class="col-md home-div blue-2" onclick="location.href='/Queries/QueryII'">
            <div class="home-child">
                <h1><i class="fa fa-birthday-cake"></i></h1>
                Nacimientos
            </div>
        </div>

    </div>
</div>